# Dependency directories
node_modules/

# Runtime data
cache/
logs/
*.log

# npm/yarn
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
package-lock.json

# Docker
.dockerignore

# Environment variables
.env
.env.local

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 